.display-none[data-v-4347b3d2]{
  display:none;
}

.block-internal-navigation[data-v-4347b3d2]{
  margin-left:auto;margin-right:auto;max-width:1440px;padding-left:16px;padding-right:16px;text-align:center
}

@media(min-width:1024px){
  .block-internal-navigation[data-v-4347b3d2]{padding-left:32px;padding-right:32px}
}

.block-internal-navigation .module__items[data-v-4347b3d2]{
  margin-top:40px;display:grid;grid-template-columns:repeat(2,minmax(0,1fr));gap:16px;text-align:left
}

@media (max-width:1023px){
  .block-internal-navigation .module__items[data-v-4347b3d2]{-moz-column-gap:8px;column-gap:8px;row-gap:32px};
}

media (min-width:1024px){
  .block-internal-navigation .module__items[data-v-4347b3d2]{grid-template-columns:repeat(4,minmax(0,1fr))};
}

.block-internal-navigation .module__item-link[data-v-4347b3d2]{
  text-align:center;
}

.block-internal-navigation .module__item[data-v-4347b3d2]{p
  adding-bottom:16px;
}.block-internal-navigation[data-v-4347b3d2] .vaimo-heading__title.h2{font-size:28px;text-transform:none;line-height:120%}@media (min-width:1024px){.block-internal-navigation[data-v-4347b3d2] .vaimo-heading__title.h2{margin-left:auto;margin-right:auto;width:653px;font-size:32px}}.block-internal-navigation[data-v-4347b3d2] .module__subheading h3{font-size:16px;font-weight:300}@media(min-width:1024px){.block-internal-navigation[data-v-4347b3d2] .module__subheading h3{font-size:18px}}.block-internal-navigation[data-v-4347b3d2] .module__item-link .vaimo-button__link-with-dots{font-size:16px;line-height:115%;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.4s;transition-timing-function:cubic-bezier(.4,0,1,1)}.block-internal-navigation[data-v-4347b3d2] .module__item-link .vaimo-button__link-with-dots:hover{padding-bottom:2px}.block-internal-navigation[data-v-4347b3d2] .module__item-link .vaimo-button__link-with-dots:active{--tw-text-opacity:1;color:rgb(113 113 113/var(--tw-text-opacity));--underline-color:var(--c-gris-dark)}.block-internal-navigation[data-v-4347b3d2] .module__item-link .vaimo-button__link-with-dots:active:after,.block-internal-navigation[data-v-4347b3d2] .module__item-link .vaimo-button__link-with-dots:active:before{--tw-bg-opacity:1;background-color:rgb(113 113 113/var(--tw-bg-opacity))}.block-internal-navigation[data-v-4347b3d2] .module__item-link .vaimo-button__link-with-dots:disabled{--tw-text-opacity:1;color:rgb(200 200 200/var(--tw-text-opacity));--underline-color:var(--c-silver)}.block-internal-navigation[data-v-4347b3d2] .module__item-link .vaimo-button__link-with-dots:disabled:after,.block-internal-navigation[data-v-4347b3d2] .module__item-link .vaimo-button__link-with-dots:disabled:before{--tw-bg-opacity:1;background-color:rgb(200 200 200/var(--tw-bg-opacity))}