
.display-none[data-v-1ea11110]{
  display:none;
}

.vcl-sidebar__content[data-v-1ea11110]{
  padding:20px 20px 30px; text-align:left;
}

.vcl-sidebar__content[data-v-1ea11110]>*{
  margin-top:10px;margin-bottom:10px;
}

.vcl-sidebar__content[data-v-1ea11110] h1{
  font-size:var(--font-size--paragraph-1em);
}

.vcl-sidebar__content[data-v-1ea11110] h1,.vcl-sidebar__content[data-v-1ea11110] h2{
  font-family:var(--font-family--diptyque);line-height:var(--line-height--normal);text-transform:none;font-weight:var(--font-weight--normal);margin-top:15px;
}.vcl-sidebar__content[data-v-1ea11110] h2{
  font-size:var(--font-size--paragraph-2em);
}

.vcl-sidebar__content[data-v-1ea11110] h3{
  font-size:var(--font-size--paragraph-3em);font-family:var(--font-family--diptyque);line-height:var(--line-height--normal);text-transform:none;font-weight:var(--font-weight--normal)
}

.vcl-sidebar__content[data-v-1ea11110] h4{
  font-size:var(--font-size--paragraph-4);
}

.vcl-sidebar__content[data-v-1ea11110] h4,.vcl-sidebar__content[data-v-1ea11110] h5{
  font-family:var(--font-family--apercu);line-height:var(--line-height--normal);text-transform:none;font-weight:var(--font-weight--light);
}

.vcl-sidebar__content[data-v-1ea11110] h5{
  color:var(--c-gris);font-size:var(--font-size--paragraph-5);
}

.vcl-sidebar__content[data-v-1ea11110] p{
  font-size:var(--font-size--paragraph-4);font-family:var(--font-family--apercu);line-height:var(--line-height--normal);text-transform:none;font-weight:var(--font-weight--light);
}

[data-v-1ea11110] .sidebar-aside-close{
  right:0!important;
}

[data-v-1ea11110] .sf-sidebar__aside{
  border-left:1px solid var(--c-gris-nacre)!important;
}

[data-v-1ea11110] .sf-sidebar__title h4{
  font-size:var(--h4-font-size);font-family:var(--font-family--apercu);line-height:var(--line-height--normal);text-transform:uppercase;font-weight:var(--font-weight--light);
}






/* all with class="highlight" */
.highlight {
  background-color: #DAC2B2;
}